# Iot Broker Client example

## Create IotBrokerClient

In [12]:
import json
from onesaitplatform.iotbroker import IotBrokerClient

In [13]:
HOST = "www.onesaitplatform.online"
PORT = 443
IOT_CLIENT = "RestaurantTestClient"
IOT_CLIENT_TOKEN = "0a42c0ba12254a2db048e9d927a61f47"

In [14]:
client = IotBrokerClient(HOST, port=PORT, iot_client=IOT_CLIENT, iot_client_token=IOT_CLIENT_TOKEN)
#client.protocol = "https"
#client.avoid_ssl_certificate = True

## Join/ start connection

In [15]:
client.join()

(True, {'sessionKey': '95ca7a7b-603b-429c-b24b-d042cb302dd9'})

In [ ]:
client.leave()

## Query data

In [7]:
query = "select * from Restaurants limit 3"

In [8]:
ok_query, results_query = client.query(ontology="Restaurants", query=query, query_type="SQL")

In [9]:
print("Query success: {}".format(ok_query))
print("Query results:")
for res in results_query:
    print(res)
    print("*")

Query success: True
Query results:
{'Restaurant': {'address': {'building': '351', 'coord': [-73.98513559999999, 40.7676919], 'street': 'West   57 Street', 'zipcode': '10019'}, 'borough': 'Manhattan', 'cuisine': 'Irish', 'grades': [{'date': '2014-09-06T00:00:00Z', 'grade': 'A', 'score': 2}, {'date': '2013-07-22T00:00:00Z', 'grade': 'A', 'score': 11}, {'date': '2012-07-31T00:00:00Z', 'grade': 'A', 'score': 12}, {'date': '2011-12-29T00:00:00Z', 'grade': 'A', 'score': 12}], 'name': 'Dj Reynolds Pub And Restaurant', 'restaurant_id': '30191841'}}
*
{'Restaurant': {'address': {'building': '2780', 'coord': [-73.98241999999999, 40.579505], 'street': 'Stillwell Avenue', 'zipcode': '11224'}, 'borough': 'Brooklyn', 'cuisine': 'American', 'grades': [{'date': '2014-06-10T00:00:00Z', 'grade': 'A', 'score': 5}, {'date': '2013-06-05T00:00:00Z', 'grade': 'A', 'score': 7}, {'date': '2012-04-13T00:00:00Z', 'grade': 'A', 'score': 12}, {'date': '2011-10-12T00:00:00Z', 'grade': 'A', 'score': 12}], 'name': 'Riviera Caterer', 'restaurant_id': '40356018'}}
*
{'Restaurant': {'address': {'building': '97-22', 'coord': [-73.8601152, 40.7311739], 'street': '63 Road', 'zipcode': '11374'}, 'borough': 'Queens', 'cuisine': 'Jewish/Kosher', 'grades': [{'date': '2014-11-24T00:00:00Z', 'grade': 'Z', 'score': 20}, {'date': '2013-01-17T00:00:00Z', 'grade': 'A', 'score': 13}, {'date': '2012-08-02T00:00:00Z', 'grade': 'A', 'score': 13}, {'date': '2011-12-15T00:00:00Z', 'grade': 'B', 'score': 25}], 'name': 'Tov Kosher Kitchen', 'restaurant_id': '40356068'}}
*

## Query data in batch

In [ ]:
query = "db.Restaurants.find().limit(3)"

In [ ]:
ok_query, results_query = client.query(ontology="Restaurants", query=query, query_type="NATIVE")

In [ ]:
print("Query success: {}".format(ok_query))
print("Query results:")
for res in results_query:
    print(res)
    print("*")

In [ ]:
query_batch = "select c from Restaurants as c"
ok_query, results_query = client.query_batch(ontology="Restaurants", query=query_batch, query_type="SQL", batch_size=50)

In [ ]:
print("Query success: {}".format(ok_query))
print("Query results:")
for res in results_query:
    print(res)
    print("*")

In [ ]:
query_batch = "db.Restaurants.find()"
ok_query, results_query = client.query_batch(ontology="Restaurants", query=query_batch, query_type="NATIVE", batch_size=50)

In [ ]:
print("Query success: {}".format(ok_query))
print("Query results:")
for res in results_query:
    print(res)
    print("*")

## Insert data

In [16]:
new_restaurant = {
    'Restaurant': {
        'address': {
            'building': '2780', 
            'coord': [-73.98241999999999, 40.579505], 
            'street': 'Stillwell Avenue', 
            'zipcode': '11224'
        }, 
        'borough': 'Brooklyn', 
        'cuisine': 'American', 
        'grades': [
            {'date': '2014-06-10T00:00:00Z', 'grade': 'A', 'score': 5}
        ], 
        'name': 'Riviera Caterer 18', 
        'restaurant_id': '40356118'
    }
}

new_restaurant_str = json.dumps(new_restaurant)
new_restaurants = [new_restaurant]

In [17]:
ok_insert, res_insert = client.insert("RestaurantTest", new_restaurants)
print(ok_insert, res_insert)

True {'id': '5ccc47dde336fd000bc77eaf'}